body {
    text-align: center;
    line-height: 200%;
    background-image: url(../images/christmas-dark.png)
}

.jumbotron {
    border: solid 2px #ccc
    //https://i.etsystatic.com/18917999/d/il/a7121e/1733090473/il_340x270.1733090473_908h.jpg?version=0
}


div {
    margin: 50px;
}

.container {
    border: solid 2px #ccc;
}

#guesses {
    line-height: 15px;
    padding: 10px;
    margin: 5px;
}

#guessesLeft {
    line-height: 15px;
    padding: 10px;
    margin: 5px;
}

#winCount {
    line-height: 15px;
    padding: 10px;
    margin: 5px;
}

#losses {
    line-height: 15px;
    padding: 10px;
    margin: 5px;
}
