body {
    text-align: center;
    line-height: 200%;
    background-image: url(../images/christmas-dark.png);
}

.jumbotron {
    border: solid 2px #ccc;

}

h1, p {
    background-color: #ffffff;
    width: 350px;
    margin: auto;
    border-left: solid 2px black;
    border-right: solid 2px black;
    
}



div {
    margin: 50px;
}

.container {
    border: solid 2px black;
    /* background-image: url(../images/ouija.jpg); */

}

.main {
    background-color: #ffffff;
}
#guesses {
    line-height: 15px;
    padding: 10px;
    margin: 5px;
}

#thoughts {
    line-height: 15px;
    padding: 10px;
    margin: 5px;
}

#winCount {
    line-height: 15px;
    padding: 10px;
    margin: 5px;
}

#losses {
    line-height: 15px;
    padding: 10px;
    margin: 5px;
}
